.skill-background-color{
    background-color: var(--secondary-dark-mode);
}
.bar {
    display: block;
    height: 10px;
    width: 180px;
    border: 1px solid var(--primary-light-mode);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar span {
    height: 10px;
    float: left;
    background: var(--primary-accent-color);
}

@keyframes five {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
    
}

@keyframes four_five {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
    
}

@keyframes four {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
    
}

@keyframes three_five {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
    
}

@keyframes three {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
    
}

@keyframes two_five {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
    
}

@keyframes two {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
    
}

@keyframes one_five {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
    
}

@keyframes one {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
    
}


.skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    border: 5px solid rgba(204, 85, 0, 0.1);
    padding: 2rem 3.4rem;
    border-radius: 1.25rem;
    background-color: #2C3333;
}

.skill__titlemain {
    font-size: 50px;
    color: var(--primary-light-mode);
    text-align: center;
}

.skills__title {
    color: var(--primary-light-mode);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bxs-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name {
    color: var(--primary-light-mode);
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 0.4rem;
}

.level {
    color: var(--primary-light-mode);
    font-size: 14px;
    line-height: 18px;
    display: flex;
    position: relative;
    top: 1.3rem;
}

@media screen and (max-width: 992px){
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 576px){

    .skills__content {
        padding: 1.5rem;
    }

}

@media screen and (max-width: 350px) {
  .skills_box {
    column-gap: 1.25rem;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }
}