@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3rem;
    
    /* Colour */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;

    /* Body font */
    --body-font: "Poppins", sans-serif;

    /* Font weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-model: 1000;

}

/* Responsive typography */
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto !important;
}

.home__section {
    padding: 23rem 0 6rem;
    background-color: #DCD7C9;
}

.about__section {
    padding: 1rem 0 12rem;
    background-color: #2C3639;
}

.skills__section {
    padding: 4rem 0 12rem;
    background-color: #DCD7C9;
}

/* .contact__section {

} */

.section__title {
    font-size: 40px;
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size); 
    margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.button {
    display: inline-block;
    background-color: #3F4E4F;
    color: var(--container-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
    border: 3px solid #3F4E4F;
}

.button:hover {
    background-color: var(--button-color-dark);
    font-weight: bold;
    color: #3F4E4F;
    border-color: #3F4E4F;
}

.button__icon {
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button:hover .button__icon{
    fill: #3F4E4F !important;
}

.button__icon {
    fill: white;
  }


.button--flex {
    display: inline-flex;
    align-items: center;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(../src/assets/layered-waves-haikei.svg);
}

.layer2 {
    background-image: url(../src/assets/layered-waves-haikei1.svg);
}

.layer3 {
    background-image: url(../src/assets/layered-waves-haikei2.svg);
}

/* Breakpoint */

@media screen and (max-width: 992px){
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .button {
        padding: 0.5rem 1rem;
    }

    .button__icon {
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 768px){
    body {
        margin: 0 0 var(--header-height) 0;
    }

    .home__section {
        padding: 2rem 0 4rem;
        background-color: #DCD7C9;
    }
    
    .about__section {
        padding: 2rem 0 4rem;
        background-color: #2C3639;
    }

    .button {
        padding: 0.5rem 1rem;
    }

    .section__subtitle {
        margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 350px) {
    :root {
        --big-font-size: 2.25rem;
    }
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .button {
        padding: 0.5rem 1rem;
    }
}