.about-background-color {
    background-color: #2C3333;
}

.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
}

.about__img {
    width: 450px;
    border-radius: 2rem;
    justify-self: center;
}
.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

.about__title {
    font-size: 50px;
    color: var(--primary-light-mode);
    text-align: center;
}

.about__info {
    grid-template-columns: repeat(3, 160px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__title__info {
    font-size: 16px;
    color: var(--primary-light-mode);
}

.about__subtitle__info {
    font-size: 13px;
    font-weight: bold;
}

.about__box {
    background-color: var(--primary-dark-mode);
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 1rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--primary-accent-color);
    margin-bottom: var(--mb-0-5);
}



@media screen and (max-width: 992px){
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 250px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }

    .about__data {
        text-align: center;
    }

}


@media screen and (max-width: 576px){
    .about__description {
        padding: 0;
    }

    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__title__info {
        font-size: 14px;
        color: var(--primary-light-mode);
    }

    .about__subtitle__info {
        font-size: 10px;
        font-weight: bold;
    }
}

@media screen and (max-width: 350px) {

}