.home-background-color{
    background-color: #2E4F4F;
    z-index: 1;
}

.home__container {
    row-gap: 7rem;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home__img {
    background: url(../../assets/me1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(203 228 222 / 30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite;
}

.home__img.one {
    background: none;
    position: absolute;
    left: 2vw;
    top: 5vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px #E97451;
    opacity: 0.5;
    order: 1;
    justify-self: center;
    width: 350px;
    height: 350px;
    animation: profile__animate 4s ease-in-out infinite;
    transform: rotateX(180deg);
    z-index: 2;
}

.home__img.two {
    background: none;
    position: absolute;
    left: 15vw;
    top: 65vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px #4F2E2E;
    opacity: 0.4;
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 6s ease-in-out infinite;
    transform: rotateX(180deg);
    transform: scale(0.5);
    z-index: 2;
}

.home__img.three {
    background: none;
    position: absolute;
    left: 70vw;
    top: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px #E97451;
    opacity: 0.6;
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 9s ease-in-out infinite;
    transform: rotateY(90deg);
    transform: scale(1.5);
    z-index: 2;
}

.home__img.four {
    background: none;
    position: absolute;
    left: 80vw;
    top: 6vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px #4F2E2E;
    opacity: 0.2;
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 7s ease-in-out infinite;
    transform: rotate(270deg);
    transform: scale(0.3);
    z-index: 2;
}

.home__img.five {
    background: none;
    position: absolute;
    left: 55vw;
    top: 10vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px #2C3333;
    order: 1;
    justify-self: center;
    width: 100px;
    height: 100px;
    animation: profile__animate 10s ease-in-out infinite;
    transform: rotateY(80deg);
    transform: rotateX(150deg);
    z-index: 2;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 2rem;
    color: #CBE4DE;
    transition: .3s;
}

.home__social-icon:hover {
    color: var(--primary-accent-color);
}

.home__title {
    font-size: 48px;
    margin-bottom: var(--mb-1-25);
    color: var(--primary-dark-mode);
}

.home__title span {
    color: #CBE4DE;
}

.home__subtitle {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: var(--mb-1);
    color: #CBE4DE;
}

.home__subtitle span{
    color: var(--primary-accent-color);
    font-weight: bold;
}

/* Breakpoint */

@media screen and (max-width: 992px){
    body {
        background-color: #DCD7C9;
    }

    .wave svg {
        height: 0;
        position: absolute;
         width: 0;
    }


    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__subtitle {
        margin-bottom: var(--mb-1);
    }

    .home__img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
    }

    .home__img.one {
        display: none;
    }

    .home__img.two {
        display: none;
    }

    .home__img.three {
        display: none;
    }

    .home__img.four {
        display: none;
    }

    .home__img.five {
        display: none;
    }

    .home__scroll{
        margin-left: 7.5rem;
    }
}

@media screen and (max-width: 768px){
    .home__container {
        justify-content: center;
    }
    .home__content {
        grid-template-columns: 2fr 3fr;
        padding-top: 3.5rem; 
    } 

    .home__img {
        order: initial;
        justify-self: initial;
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__img {
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    }

    .home__img.one {
        display: none;
    }

    .home__img.two {
        display: none;
    }

    .home__img.three {
        display: none;
    }

    .home__img.four {
        display: none;
    }

    .home__img.five {
        display: none;
    }

    .home__scroll{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .home__img {
        width: 180px;
        height: 180px;
    }

    .home__img.one {
        display: none;
    }

    .home__img.two {
        display: none;
    }

    .home__img.three {
        display: none;
    }

    .home__img.four {
        display: none;
    }

    .home__img.five {
        display: none;
    }
}