.home__container {
    row-gap: 7rem;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home__img {
    background: url(../../assets/me1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: .3s;
}

.home__social-icon:hover {
    color: #678983;
}

.home__title {
    font-size: 48px;
    margin-bottom: var(--mb-1-25);
}

.home__title span {
    color: #678983
}

.home__subtitle {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: var(--mb-1);
    color: #678983;
}

.home__subtitle span{
    color: var(--title-color);
    font-weight: bold;
}

.home__scroll {
    margin-left: 9.25rem;
    animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 10vh;
    }
    100% {
      margin-top: 0;
    }
  }

.home__scroll-name {
    color: var(--title-color);
    font-weight: bold;
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}


/* Breakpoint */

@media screen and (max-width: 992px){
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__subtitle {
        margin-bottom: var(--mb-1);
    }

    .home__img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
    }

    .home__scroll{
        margin-left: 7.5rem;
    }
}

@media screen and (max-width: 768px){
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    } 

    .home__img {
        order: initial;
        justify-self: initial;
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__img {
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    }

    .home__scroll{
        display: none;
    }
}

@media screen and (max-with: 350px) {
    .home__img {
        width: 180px;
        height: 180px;
    }
}